# Database Configuration
DB_NAME=hris_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Django Configuration
SECRET_KEY=django-insecure-g$8)f3%t)3021f1q*w1x+8y*i*3y718!1o8-7#z*j8+m@$w#0m
DEBUG=True
